@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@100;300;500;700;900&display=swap");

:root {
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.imgs {
  max-width: 100%;
  height: 270px;
  border-radius: 8px;
  object-fit: contain;
}

/* .flip-box {
  background-color: transparent;
  width: 25% !important;
  height: 270px;
  perspective: 1000px;
} */
